%logo {
  display: block;
  font-family: $logo-font, $spare-font;
  font-weight: 700;
  font-size: 24px;
  line-height: $auto-line-height;
  color: $logo-color;
  text-decoration: none;

  @include desktop {
    font-size: 26px;
  }
}

%btn {
  padding: 0;
  font-weight: 700;
  font-size: $medium-text-size;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $primary-text-color;
  cursor: pointer;
  background-color: $base-btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $active-btn-color;
  }
}
