$page-font: 'Roboto';
$logo-font: 'Raleway';
$spare-font: sans-serif;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$logo-color: #2196f3;
$primary-logo-text-color: #000000;
$secondary-logo-text-color: #ffffff;
$page-text-color: #212121;
$primary-title-color: #ffffff;
$secondary-title-color: #212121;
$primary-text-color: #ffffff;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$base-btn-color: #2196f3;
$active-btn-color: #188ce8;
$svg-base-color: #afb1b8;

$bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$base-gap: 30px;
$auto-line-height: 1.2;
$small-text-size: 14px;
$medium-text-size: 16px;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-min-screen: 480px;
$mobile-max-screen: 767px;
$tablet-min-screen: 768px;
$tablet-max-screen: 1199px;
$desktop-screen: 1200px;
